<div class="uk-section uk-section-secondary">
	<div class="uk-container uk-container-expand">
		<span class="uk-float-left">
			<br>Made by <a href="https://github.com/rovacado" target="_blank">Rovacado</a>
			<br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT Licence</a>
		</span>
		<span class="uk-float-right">
			<br>Made with UIkit
			<br>Powered by Ghost
		</span>
	</div>
</div>