<div class="uk-section uk-section-secondary" uk-height-viewport="expand: true">
	<div class="uk-container uk-width-4-5@m">
		<div uk-grid>
			<div class="uk-width-auto">
				<br>Made by <a href="https://github.com/rovacado" target="_blank">Rovacado</a>
				<br>Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT Licence</a>
			</div>
			<div class="uk-width-expand"></div>
			<div class="uk-width-auto">
				<br>Made with UIkit
				<br>Powered by Ghost
			</div>
		</div>
	</div>
</div>