{{!< default}}
<div class="uk-section uk-padding-remove-vertical">
	<div class="uk-container uk-container-large">
		{{#foreach posts}}
		{{> post-list}}
		{{/foreach}}
		{{pagination}}
	</div>
</div>
