{{!< default}}
<div class="uk-section uk-section-muted">
	<div class="uk-container uk-width-4-5@m uk-flex uk-flex-center" >
		<div class="uk-child-width-1-1" uk-grid>
			{{#post}}
			{{> post-full}}
			{{/post}}
		</div>
	</div>
</div>